/*-- scss:defaults --*/

// Fonts
$font-family-sans-serif: "Inter", sans-serif;
$headings-font-family: "Inter", sans-serif;

// Colors
$navbar-bg: #005735;        // navbar background
$navbar-fg: #ffffff;        // navbar text
$link-color: #2c3e50;       // link color
$body-color: #000000;       // body text