// /*-- scss:defaults --*/
// $font-family-sans-serif: "Computer Modern Serif", serif;
// $headings-font-family: "Computer Modern Serif", serif;

/*-- scss:defaults --*/
// $font-family-sans-serif: "Source Sans Pro", sans-serif;
// $headings-font-family: "Source Sans Pro", sans-serif;

/*-- scss:defaults --*/
$font-family-sans-serif: var(--main-font);
$font-size-base: 17px;

$headings-font-family: var(--font-headings) !important;

$navbar-bg: transparent;
$navbar-fg: #ffffff;
$navbar-active-color: #fdd26e;
$navbar-hover-color: #C9C9C9;
$link-color: #FDD26E;
$body-color: #e8e8e8;
// $body-bg: #0a0a0a;
$navbar-fg: #ffffff;