/*-- scss:uses --*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

/*-- scss:defaults --*/

$font-family-sans-serif: "Source Sans Pro", sans-serif;
$headings-font-family: "Source Sans Pro", sans-serif;


// Colors
$navbar-bg: #c0293deb;        // navbar background
$navbar-fg: rgb(214, 214, 214);        // navbar text
$navbar-active-color: #ffffff; // highlighted/active nav item
$link-color: #df8d00;       // link color
$body-color: #000000;       // body text