/*-- scss:uses --*/
@import url('https://cdn.jsdelivr.net/npm/computer-modern@0.1.2/fonts/serif.min.css');

/*-- scss:defaults --*/
$font-family-sans-serif: "Computer Modern Serif", serif;
$headings-font-family: "Computer Modern Serif", serif;

$navbar-bg: #121212f3;
$navbar-fg: #ffffff;
$navbar-active-color: #D3832B;
$link-color: #FFB500  ;
$body-color: #e0e0e0;
$body-bg: #121212;